.user_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 16px;
  background-color: #f9f9f9;
  height: 100vh;
  width: 100vw;

  .user_list__item {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 18px;
    background-color: #ffff;
    color: #545454;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
